body {
  margin: 0;
}

.nav-header {
  background-color: #f8f9fa;
}

.navbar {
  padding: 30px 40px 20px;
  max-width: 1140px;
  margin: 0 auto;
}

.navbar .nav-item {
  padding: 0 30px;
}

.navbar .nav-item a {
  color: #000;
}

.navbar .nav-item a:hover {
  text-decoration: none;
}

.logout-panel {
  display: flex;
  min-width: 250px;
  justify-content: space-between;
}

.card-img {
  width: 200px;
}

.login-card {
  margin-top: 20px;
}

.login-card .card-header {
  text-align: center;
  font-weight: 600;
}

.login-card .card-header .card-text {
  font-weight: 400;
}

.login-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-card form {
  width: 100%;
  text-align: center;
}

.login-card form label {
  font-size: 28px;
  color: #3ECEA7;
}

.login-card .btn-sign-in {
  width: 100%;
  border: 0;
  background: #3ECEA7;
}

.questions-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.question-card__options-preview {
  border-left: 1px solid lightgray;
}

.question-card__title {
  font-size: 20px;
  font-weight: 600;
}

.question-card__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-card .question-card__avatar-image {
  width: 125px;
  height: 125px;
}

.question-card__view-poll-btn {
  width: 100%;
  color: #3ECEA7;
  background: transparent;
  border: 2px solid #3ECEA7;
}
